@inherits DatatableModel<TItem>
@typeparam TItem

<table class="table">
        <thead>
            <tr>
                @foreach (var column in Columns)
                {
                    <th>@column.Name()</th>
                }
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Items)
            {
                <tr>
                    @foreach(var column in Columns)
                    {
                        <td>@column.Content(item)</td>
                    }
                </tr>
            }
        </tbody>
        <tfoot>
            <tr>Total items: @Items.Count() </tr>
        </tfoot>
    </table>